<div class="homepage-hero">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-6 hero left">
        <div class="row">
          <div class="hero__intro">
            <%= render :partial => "frontpage_intro_sentence" %>

            <p class="intro__browse">
              <%= _("Browse <a href=\"{{requests_url}}\">" \
                    "{{number_of_requests}} requests</a> to " \
                    "<a href=\"{{authorities_url}}\">" \
                    "{{number_of_authorities}} authorities</a>",
                  :requests_url => request_list_successful_path,
                  :number_of_requests => number_with_delimiter(@number_of_requests),
                  :authorities_url => list_public_bodies_default_path,
                  :number_of_authorities => number_with_delimiter(@number_of_authorities)) %>
            </p>
          </div>

          <div class="hero__new-request">
            <div class="new-request__content">
              <%= render :partial => "new_request" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 requests right">
        <div class="row">
          <div id="examples_1" class="latest-requests">
            <h3>What information has been released?</h3>

            <h4>Ask Nepal users have made 35 requests, including:</h4>

            <ul>
              <li class="request-listing">
                <div class="request-listing__request-status-icon bottomline icon_partially_successful icon-standalone"></div>
                <div class="request-listing__request-body">
                  <p>
                    <a href="/en/body/c4n">Code for nepal</a> answered a request about <a href="/en/request/budget_for_nepali_year_2073">Budget for Nepali year 2073</a>
                  </p>

                  <p class="request-body__time-ago">11 months ago</p>
                </div>
              </li>
              <li class="request-listing">
                <div class="request-listing__request-status-icon bottomline icon_partially_successful icon-standalone"></div>
                <div class="request-listing__request-body">
                  <p>
                    <a href="/en/body/mod">Ministry of Defense</a> answered a request about <a href="/en/request/number_of_male_and_female_securi">Number of male and female security officials (Nepal Police, Armed Police and Nepal Army) 1994-2014</a>
                  </p>
                  <p class="request-body__time-ago">about 1 year ago</p>
                </div>
              </li>
              <li class="request-listing">
                <div class="request-listing__request-status-icon bottomline icon_partially_successful icon-standalone"></div>
                <div class="request-listing__request-body">
                  <p>
                    <a href="/en/body/mohp">Ministry of Health and Population</a> answered a request about <a href="/en/request/rautes_of_western_nepal">"Rautes" of Western Nepal</a>
                  </p>

                  <p class="request-body__time-ago">about 1 year ago</p>
                </div>
              </li>  
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
