<footer class="page-footer" id="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 left">
        <h5 class="white-text">Ask Nepal</h5>
        <p class="grey-text text-lighten-4">Powered by <a href="http://www.alaveteli.org/">Alaveteli</a></p>
        <p>
          <%= link_to image_tag('c4n_logo.png', class: 'height-40 white-bg'), 'http://codefornepal.org/en/'%>
        </p>
        <ul class="pd-lt-0">
          <li class="li-inline-block"><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li><span style="color: #ffffff;">|</span>
          <li class="li-inline-block"><a class="grey-text text-lighten-3" href="#!">Help</a></li><span style="color: #ffffff;">|</span>
          <li class="li-inline-block"><a class="grey-text text-lighten-3" href="#!">Privacy and Cookies</a></li><span style="color: #ffffff;">|</span>
          <li class="li-inline-block"><a class="grey-text text-lighten-3" href="#!">API</a></li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 right">
        <h5 class="white-text">Supports</h5>
        <ul class="pd-lt-0">
          <li class="li-inline-block"><a class="grey-text text-lighten-3" href="#!">Support 1</a></li>
          <li class="li-inline-block"><a class="grey-text text-lighten-3" href="#!">Support 2</a></li>
          <li class="li-inline-block"><a class="grey-text text-lighten-3" href="#!">Support 3</a></li>
          <li class="li-inline-block"><a class="grey-text text-lighten-3" href="#!">Support 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="row">
      <div class="col-sm-12 col-md-6 left">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      </div>
      <a class="grey-text text-lighten-4 right" href="#!">More Contributers...</a>
    </div>
  </div>
</footer>