<% @title = "About" %>

<div class="col s12 m8 right mg-tp-20" id="left_column_flip">
    <h1 id="introduction">
        Introduction to Ask Nepal <a href="#introduction">#</a>
    </h1>
    <dl>
        <dt id="purpose" class="no-mg-tp">What is Ask Nepal for?<a href="#purpose">#</a> </dt>
        <dd>
            <p>
                Ask Nepal helps you find information about the Nepal government and its public bodies. Ask Nepal helps access information about local government, central government, parliament, state funded schools, universities, hospitals and other public authorities. 
            </p>
            <p>
                You can also use the site to find out information that regulators hold about businesses, charities and other organisations.
            </p>
        </dd>

        <dt id="premise" class="mg-tp-20">How does the site work? <a href="#premise">#</a> </dt>
        <dd>
            <p>
                You choose the <a href="https://asknepal.info/body/list/all"> public authority </a> that you would like information from. After that you write a brief note describing what you want to know. Ask Nepal then sends your request to the public authority. Any response received is automatically published on the website for you and anyone else to find, read and use. 
            <p>
        </dd>

        <dt id="whybother_me" class="mg-tp-20">Why would I bother to do this? <a href="#whybother_me">#</a> </dt>
        <dd>
            <p>
                Government in Nepal impacts your life in many ways. The quality of roads, hospitals, schools, our environment, or the government's ability to supply electricity affects our lives. There are some things government in Nepal is doing well and there are some areas where it struggles to provide better services. 
                <br></br>
                The more you know about your government, the better you will be able to make suggestions to improve the things that Nepal government struggles to do well. This website also helps many journalists, students, and professionals as they do their research. 
            </p>
        </dd>

        <dt id="whybother_them" class="mg-tp-20">Why would the public authority bother to reply? <a href="#whybother_them">#</a> </dt>
        <dd>
            <p>
                The 2015 constitution of Nepal grants every citizen right to information. <b>Under the right to information law, public authorities need to respond to your request.</b>

                The clause 27 of the 2015 says, “ every citizen shall have the right to seek information on any matters of concern to her/him or the public. Provided that nothing shall be deemed to compel any person to provide information about which confidentiality is to be maintained according to law.” 
            </p>
        </dd>

        <dt id="who" class="mg-tp-20">Who makes AskNepal? <a href="#who">#</a> </dt>
        <dd>
            <p>Ask Nepal is run and maintained by Open Knowledge Nepal and Code for Nepal, in partnership with mySociety project. <a href="http://oknp.org">Open Knowledge Nepal</a> is a registered and independent NGO with the government of Nepal. <a href="http://codefornepal.org">Code for Nepal</a> is a registered 501 c3 organization in the US.</p>

            <div class="divider mg-bt-10"><hr /></div>

            <!-- <p>
                If you like what we are doing please <a href="http://www.codefornepal.org/help/donate/">donate!</a>
                We also encourage you to donate to our partner <a href="https://www.mysociety.org/donate/"> organization. </a>
            </p> -->
        </dd>
    </dl>
</div>

<%= render :partial => 'sidebar' %>
