<% @title = "About" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
 <h1 id="introduction">Introduction to <%= site_name %> <a href="#introduction">#</a> </h1>

<dl>

<dt id="purpose">What is asknepal for?<a href="#purpose">#</a> </dt>
<dd>
<p>
AskNepal helps you find information about the Nepal government and its public bodies. AskNepal helps access information about local government, central government, parliament, state funded schools, universities, hospitals and other public authorities. 
</p>
<p>
You can also use the site to find out information that regulators hold about businesses, charities and other organisations.
</p>
</dd>

<dt id="premise">How does the site work? <a href="#premise">#</a> </dt>
<dd>You choose the <a href="https://asknepal.info/body/list/all"> public authority </a> that you would like information from. After that you write a brief note describing what you want to know. AskNepal then sends your request to the public authority. Any response received is automatically published on the website for you and anyone else to find, read and use. 
</dd>

<dt id="whybother_me">Why would I bother to do this? <a href="#whybother_me">#</a> </dt>
<dd>Government in Nepal impacts your life in many ways. The quality of roads, hospitals, schools, our environment, or the government's ability to supply electricity affects our lives. There are some things government in Nepal is doing well and there are some areas where it struggles to provide better services. 
<br></br>
The more you know about your government, the better you will be able to make suggestions to improve the things that Nepal government struggles to do well. This website also helps many journalists, students, and professionals as they do their research. 
</dd>

<dt id="whybother_them">Why would the public authority bother to reply? <a href="#whybother_them">#</a> </dt>
<dd>The 2015 constitution of Nepal grants every citizen right to information. <b>Under the right to information law, public authorities need to respond to your request.</b>

The clause 27 of the 2015 says, “ every citizen shall have the right to seek information on any matters of concern to her/him or the public. Provided that nothing shall be deemed to compel any person to provide information about which confidentiality is to be maintained according to law.” 
</dd>

<dt id="who">Who makes AskNepal? <a href="#who">#</a> </dt>
<dd>
	<p>AskNepal is run and maintained by <a href="http://www.codefornepal.org">Code for Nepal</a>  in partnership with <a href="https://www.mysociety.org/">mySociety</a> project. Code for Nepal is a registered 501 c3 organization in the US. Code for Nepal is led by Ravi Kumar, a Nepali and Mia Mitchell, an American.</p>
</dd>

If you like what we are doing please <a href="ttps://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=HLiOJmmhuM-tVkm4Js2y8V25CHhnUds386kCUpTa3v96CA4tTh-qPT6YF8S&dispatch=5885d80a13c0db1f8e263663d3faee8d64ad11bbf4d2a5a1a0d303a50933f9b2">donate!</a>

We also encourage you to donate to our partner <a href="https://www.mysociety.org/donate/"> organization. </a>
</dd>


